/* Estilos generales */
.user-list-container,
.user-form-container {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

button {
    margin: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

/* Formulario */
form div {
    margin-bottom: 15px;
}

label {
    display: inline-block;
    width: 100px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    padding: 8px;
    width: 300px;
}